<div class="login-container">
    <div class="login-card">
        <!-- Logo -->
        <img src="/images/Umy-logo.png" alt="Logo">
        <!-- Judul dan deskripsi -->
        <h1>Sign Up</h1>
        <p>Silahkan Masukkan Username dan Password untuk membuat akun.</p>
        <!-- Form signup -->
        <form action="/signup" method="POST">
            <div class="mb-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn">Sign Up</button>
        </form>
        <!-- Link tambahan -->
        <p>Sudah punya akun? <a href="/login">Login di sini</a>.</p>
    </div>
</div>

<footer>
    <p>&copy; 2024 Pengembangan Aplikasi Web</p>
</footer>